.content.container
    .features
        h2 Main Features
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet. Id vel in nam malesuada.
        .features__icons
            .icons__card
                img(src="./img/icon/monitoring.svg", alt="")
                h4 Monitoring 24/7
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat.
            .icons__card
                img(src="./img/icon/computer.svg", alt="")
                h4 Widget System
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat.
            .icons__card
                img(src="./img/icon/speed.svg", alt="")
                h4 Best Performance
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat.
    .automated
        .automated__info
            h2 Automated Reports & Widget Alerts
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        .automated__card
            img(src="./img/screen1.png", alt="")
    .automated
        .automated__card
            img(src="./img/screen2.png", alt="")
        .automated__info
            h2 Fully customizable to address your needs 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
    .automated.calendar-info
        .automated__info
            h2 Pre-built Dashboard Templates
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        .wrapper
            .calendar
                .calendar__day MON
                .calendar__day TUE 
                .calendar__day WED
                .calendar__day THU
                .calendar__day FRI
                .calendar__day SAT
                .calendar__day SUN
                .calendar__number
                .calendar__number 1
                .calendar__number 2
                .calendar__number 3
                .calendar__number 4
                .calendar__number 5
                .calendar__number 6
                .calendar__number 7
                .calendar__number.blue 8
                .calendar__number.blue 9
                .calendar__number.blue 10
                .calendar__number 11
                .calendar__number 12
                .calendar__number 13
                .calendar__number 14
                .calendar__number 15
                .calendar__number 16
                .calendar__number 17
                .calendar__number.pink 18
                .calendar__number 19
                .calendar__number 20
                .calendar__number 21
                .calendar__number 22
                .calendar__number 23
                .calendar__number 24
                .calendar__number 25
                .calendar__number 26
                .calendar__number 27
                .calendar__number 28
                .calendar__number 29
                .calendar__number 30
                .calendar__number 31